*{
    box-sizing: border-box;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --margin-padrao: 5px 10px 0px 10px;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 90vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows:20% 60% 20%;
}

article{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

article div.title{
    margin: 0px 40px;
    font-size: 30px;
    text-align: center;
    color: rgb(165, 42, 42);
}
article div.title a, footer a{
    text-decoration: none;
    color: rgb(165, 42, 42);
}
article div.title a:hover, footer a:hover{
    color: rgb(13, 15, 131);
    transition: ease-in-out, .4s;
}

article div.texto{
    margin: 0px 40px;
    font-size: 24px;
    text-align: justify;
    text-indent: 20px;
    background-color:antiquewhite;
}

aside{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

aside .form-container{
    max-width: 400px;
    height: 100%;
    background-color: rgb(165, 42, 42);
    border-radius: 20px;
}

 form h1{
    font-size: 28px;
    color: rgb(250, 235, 215);
    text-align: center;
    margin: 10px;
    padding: 20px;
}

form .nome-completo{
    display: flex;
}

form .nome-completo input{
    width: 50%;
    margin: var(--margin-padrao);
}

form .demais-informs{
    display: flex;
    flex-direction: column;
}

form .demais-informs input{
    margin: var(--margin-padrao);
}

form .demais-informs select, form input{
    margin: var(--margin-padrao);
    height: 30px;
    border-radius: 10px;
    border:none;
    padding: 0px 15px;
    font-size: 20px;
}

div.btns {
  display: flex;
  
}

div.btns input{
    width: 50%;
}

footer {
    margin: 0px 40px;
    bottom: 0;
}

@media(max-width: 768px){
   
main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
}

@media(max-width: 500px){
    body{
        border: solid 2px rgb(165, 42, 42);
        border-radius: 10px;
    }
    article div.title{
        font-size: 24px;
    }
    
    article div.texto{
        font-size: 20px;
    }
}